@mixin flex-col ($gap){
    display: flex;
    flex-direction: column;
    gap: $gap;
}

h1 {
    font-size: 48px;
    @media (max-width: 725px) {
        font-size: 36px;
    }
}

section {
    margin-top: 100px;
    margin-bottom: 100px;
    @media (max-width: 725px) {
        margin-top: 48px;
        margin-bottom: 48px;
    }
    @media (max-width: 475px) {
        margin-top: 32px;
        margin-bottom: 32px;
    }
}

section:nth-child(4) {
    background-color: black;
}

section:nth-child(6) {
    background-color: black;
}

.normal {
    font-weight: 400;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 32px;
    @media (max-width: 1275px) {
        padding: 0 40px;
    }
    @media (max-width: 955px) {
        padding: 0 40px;
    }
    @media (max-width: 725px) {
        padding: 0 20px;
    }
}
.header {
    font-size: 48px;
    text-align: center;
    margin-bottom: 32px;
}
.desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 0;
    @media (max-width: 955px) {
        display: none;
    }
}

.mobile {
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    display: none;
    @media (mAx-width: 955px) {
        display: flex;
        padding: 24px 40px;
    }
    @media (max-width: 725px) {
        padding: 24px 4px;
    }
}

.hero {
    position: relative;
    display: flex;
    padding: 0 32px;
    @media (max-width: 1275px) {
    flex-direction: column-reverse;
  }
}

.hero-content {
    position: absolute;
    @include flex-col(48px);
    justify-content: end;
    height: 100%;
    @media (max-width: 1275px) {
        position: static;
        gap: 24px;
    }
    @media (max-width: 475px) {
        gap: 16px;
    }
}

.hero-links {
    display: flex;
    gap: 48px;
    @media (max-width: 955px) {
        gap: 24px;
    }
    @media (max-width: 475px) {
        gap: 16px;
    }
    .hero-icon {
        width: 64px;
        height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        border: 1.30px solid black;
        @media (max-width: 475px) {
            width: 48px;
            height: 48px;
        }
        i {
            font-size: 40px;
            @media (max-width: 475px) {
                font-size: 28px;
            }
        }
    }
}

.hero-description {
    max-width: 701px;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    color: #00000099;
    @media (max-width: 1275px) {
        font-size: 21px;
        max-width: 880px;
        line-height: 30px;
    }
    @media (max-width: 725px) {
        font-size: 16px;
    }
}

.hero-image {
    margin-left: auto;
    @media (max-width: 1275px) {
    margin-left: 0;
  }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.skills-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 1280px;
    @media (max-width: 1275px) {
        padding-left: 101px;
        padding-right: 101px;
    }
    @media (max-width: 955px) {
        padding-left: 101px;
        padding-right: 101px;
    }
    @media (max-width: 725px) {
        padding-left: 0;
        padding-right: 0;
    }
}

.skill-card {
    @include flex-col(16px);
    height: 180px;
    width: 186px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #000;
    @media (max-width: 475px) {
        height: 150px;
        width: 150px;    
    }
    i {
        font-size: 48px;
    }
    p {
        font-size: 18px;
        font-weight: 800;
    }
}

@media (hover: hover) {
    .skill-card:hover {
        background-color: black;
        color: white;
    }
}
@media (hover: none) {
    .skill-card:active {
        background-color: black;
        color: white;
    }
}
.white {
    color: white;
    padding: 100px 0;
    @media (max-width: 1275px) {
        padding: 100px 32px;
    }
    @media (max-width: 725px) {
        padding: 48px 40px;
    }
    @media (max-width: 955px) {
        padding: 48px 40px;;
    }
}

.experience-container {
    @include flex-col(20px);
}

.experience-card {
    @include flex-col(16px);
    padding: 24px 16px;
    border-radius: 8px;
    border: 1px solid #FFF;
    .header-wrapper {
        display: flex;
        gap: 24px;
        align-items: center;
    }
    .card-header {
        font-size: 30px
    }
    .card-description {
        font-size: 18px;
    }
    .experience-icon {
        display: inline;
        width: 32px;
        height: 32px;
    }
}

.about {
    display: flex;
    justify-content: space-between;
    gap: 123px;
    @media (max-width: 955px) {
        display: block;
    }
    @media (max-width: 955px) {
        .avatar-wrapper {
            text-align: center;
        }
    }
    @media (max-width: 725px) {
        .avatar {
            max-width: 440px;
        }
    }
}
.about-content {
    .header {
        text-align: left;
    }
    .about-description {
        @include flex-col(20px);
        font-size: 16px;
        line-height: 26px;
        color: #00000099
    }
}

.projects-content {
    @include flex-col(32px);
}

.project {
    display: flex;
    justify-content: center;
    gap: 124px;
    @media (max-width: 1275px) {
        flex-direction: column;
        gap: 24px;
    }
    .project-image {
        height: 338px;
        border-radius: 20px;
        overflow: hidden;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .project-info {
        @include flex-col(20px);
        justify-content: space-between;
        max-width: 495px;
        @media (max-width: 1275px) {
            max-width: none;
        }
        .number {
            font-size: 48px;
        }
        .project-title {
            font-size: 30px;
        }
        .project-description {
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF
        }
    }
    .more-btn {
        display: block;
        padding: 16px 20px;
        border-radius: 8px;
        margin-right: auto;
    }
    i {
        width: 24px;
        height: 24px;

    }
}

.project:nth-child(even) {
    .project-image {
       order: 1;
       @media (max-width: 1275px) {
        order: 0;
       }
    }
}

.call-me {
    display: flex;
    justify-content: center;
    gap: 123px;
    @media (max-width: 955px) {
        flex-direction: column-reverse;
        gap: 24px;
    }
    @media (max-width: 725px) {
        gap: 16px;
    }
    .contacts h2 {
        font-size: 36px;
        padding-top: 98px;
        @media (max-width: 1275px) {
            padding-top: 0;
        }
    }
}
.form-content {
    display: flex;
    gap: 123px;
    font-size: 18px;
    flex-direction: row-reverse;
    @media (max-width: 1275px) {
        flex-direction: column;
        gap: 24px;
    }
    @media (max-width: 955px) {
        gap: 20px;
    }
    @media (max-width: 725px) {
        gap: 16px;
    }
}
.contacts {
    flex-shrink: 1;
    flex-grow: 2;
    max-width: 598px;
    @media (max-width: 1275px) {
        max-width: none;
    }
    h2 {
        font-size: 48px;
        line-height: 48px;
    }
    .description {
        margin: 32px 0;
        color: #00000099;
        line-height: 24px;
        font-size: 16px;
        @media (max-width: 725px) {
            font-size: 15px;
            line-height: 22px;
        }
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 495px;
    @media (max-width: 1275px) {
        max-width: none;
    }
}
input {
    display: flex;
    padding: 16px 12px;
    border: 1px solid grey;
    border-radius: 8px;
}
textarea {
    display: flex;
    padding: 16px 12px;
    border: 1px solid grey;
    border-radius: 8px;
    resize: none;
}
.form {
    display: flex;
    gap: 24px;
    @media (max-width: 725px) {
        flex-direction: column;
        gap: 16px;
    }
    @media (max-width: 475px) {
        flex-direction: column-reverse;
    }
}

.form-title {
    display: flex;
}
.form-touch {
    display: flex;
    gap: 24px;
    @media (max-width: 725px) {
        flex-direction: column;
    }
}

form button {
    padding: 21px 19px;
}
.form_icons {
    display: flex;
    gap: 24px;
}
.form-icon {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1.3px solid black;
    @media (max-width: 725px) {
        width: 48px;
        height: 48px;
        display: flex;
        gap: 24px;
    }
    i {
        font-size: 35px;
        @media (max-width: 725px) {
            font-size: 25px;
        }
    }
}
.form-title button {
    height: 64px;
    background-color: black;
    color: white;
    border-radius: 8px;
    @media (max-width: 1275px) {
        width: 525px;
    }
    @media (max-width: 955px) {
        width: 294px;
    }
    @media (max-width: 725px) {
        width: 440px;
    }
    @media (max-width: 475px) {
        width: 320px;
    }
}

.email,
.phone {
    font-size: 18px;
    font-weight: 600;
}

.email {
    margin-bottom: 12px;
}



.burger {
    font-size: 32px;
    background-color: transparent;
}
nav ul {
    display: flex;
    gap: 48px;
}
ul a {
    color: black;
}
.resume-btn {
    padding: 17px 20px;
    border-radius: 8px;
    background-color: black;
    color: #fff;
}
.footer {
    background: #000;
    color: #fff;
}
.footer img {
    width: 140px;
    height: 40px;

}