@font-face {
  font-family: 'icomoon';
  src:  url('../webfonts/icomoon.eot?ftgwkx');
  src:  url('../webfonts/icomoon.eot?ftgwkx#iefix') format('embedded-opentype'),
    url('../webfonts/icomoon.ttf?ftgwkx') format('truetype'),
    url('../webfonts/icomoon.woff?ftgwkx') format('woff'),
    url('../webfonts/icomoon.svg?ftgwkx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-moon"], [class*=" icon-moon"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-moonVector:before {
  content: "\e906";
}
.icon-moontypescript:before {
  content: "\e905";
}
.icon-moontailwind:before {
  content: "\e904";
}
.icon-moonredux:before {
  content: "\e902";
}
.icon-moonnextjs:before {
  content: "\e903";
}
.icon-moongraphQL:before {
  content: "\e901";
}
.icon-moonphone:before {
  content: "\e942";
}

